html
    head
        title Login
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body.container
        h2 Login
        p Please Login to Continue
        form(name="loginForm" method="POST").form-group
            label(for="username") Username
            input( type="text" name="username" id="username" placeholder="Username").form-control
            label(for="password") Password
            input(name="password" type="password" id="password" placeholder="Password").form-control
            br
            input(type="submit" label="login").btn.btn-success
        
        p Don't have an account?
        p Register
            a(href="/register")   here 